include pyproject.toml
include README.md
include LICENSE.txt
include setup.py

# Include data files
include src/itaxotools/decontaminator_gui/logos/*
include src/itaxotools/decontaminator_gui/icons/*
